<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dxl.example.examplemybatis.UserInfoMapper">
    <cache/>
    <insert id="save" parameterType="com.dxl.example.examplemybatis.UserInfoBo">
        insert into
        user_info(`user_name`,password,phone,id_card)
        values(#{user_name},#{password},#{phone},#{id_card});
    </insert>


    <select id="selectById" parameterType="integer" resultType="com.dxl.example.examplemybatis.UserInfoBo">
        select * from user_info where id = #{id};
    </select>
</mapper>